In [2]:
import pandas as pd
import numpy as np
import malaya
import pyLDAvis
from textblob import TextBlob

# import dataset
df = pd.read_csv('tweet_concat.csv')
#list(df)
df.shape

c:\users\user\anaconda3\envs\socionion\lib\site-packages\nltk\decorators.py:68: DeprecationWarning: `formatargspec` is deprecated since Python 3.5. Use `signature` and the `Signature` object directly
  regargs, varargs, varkwargs, defaults, formatvalue=lambda value: ""

(713, 31)

In [3]:
# features extraction
features = ['created_at','id','user','full_text']
data = df[features]
data.full_text = data.full_text.astype('str')
text = data.full_text
text_list = text.values.tolist() # model requires list as input

In [4]:
# language detection
mn_lang = malaya.language_detection.multinomial()
lang = mn_lang.predict_batch(text_list)

# add lang column
data['lang'] = lang
data.lang.value_counts() # ISSUE: model interprets malay as other

ENGLISH      331
OTHER        216
MALAY        160
INDONESIA      6
Name: lang, dtype: int64

In [5]:
# separate into english and malay
english = data[data['lang'] == 'ENGLISH']
english_text = english[['full_text']]
english_text_list = english_text.full_text.values.tolist() # model requires list as input

# other and indonesia mostly consist of malay based on observation
malay = data[data['lang'] != 'ENGLISH']
malay_text = malay[['full_text']]
malay_text_list = malay_text.full_text.values.tolist() # model requires list as input

In [10]:
# sentiment analysis and subjectivity analysis for english
english_sentiment = []
english_subjectivity = []

for tweet in english_text_list:
    blob = TextBlob(tweet)
    analysis = blob.sentiment
    sentiment = analysis[0]
    subject = analysis[1]
    # scale of -1 to 1
    if sentiment>0:
        english_sentiment.append('positive')
    elif sentiment<0:
        english_sentiment.append('negative')
    else:
        english_sentiment.append('neutral')
    # scale of 0 to 1
    if subject>0.6:
        english_subjectivity.append('subjective')
    elif subject<0.4:
        english_subjectivity.append('objective')
    else:
        english_subjectivity.append('mixed')
    
# add sentiment and subjectivity column
english['sentiment'] = english_sentiment
english['subjectivity'] = english_subjectivity
english.sentiment.value_counts()

positive    135
neutral     123
negative     73
Name: sentiment, dtype: int64

In [20]:
english.subjectivity.value_counts()

objective     172
mixed          88
subjective     71
Name: subjectivity, dtype: int64

In [ ]:
# sentiment analysis for malay
malay_sentiment_xgb = malaya.sentiment.xgb()
malay_sentiment = malay_sentiment_xgb.predict_batch(malay_text_list) # get_proba=True

# add sentiment column
malay['sentiment'] = malay_sentiment
malay.sentiment.value_counts()

In [ ]:
# topic modeling for english
stopwords_eng = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
english_lda = malaya.topic_model.lda(english_text_list,10,stemming=False,vectorizer='skip-gram',ngram=(1,4),skip=3,stop_words=stopwords_eng)

In [8]:
# return embeded visualization data
english_vis = lda.visualize_topics(notebook_mode = False)

In [22]:
# topic modeling for malay
malay_lda = malaya.topic_model.lda(malay_text_list,10,stemming=False,vectorizer='skip-gram',ngram=(1,4),skip=3)

In [ ]:
malay_vis = malay_lda.visualize_topics(notebook_mode = False)

In [12]:
# ensemble
output = english.merge(malay, how='outer')
output

# save to html file for deployment
pyLDAvis.save_html(english_vis, 'english_vis.html')
pyLDAvis.save_html(malay_vis, 'malay_vis.html')

,created_at,id,user,full_text,lang,sentiment
0,Tue Apr 09 13:22:40 +0000 2019,1115605950998560768,"{'id': 136104635, 'id_str': '136104635', 'name...",Just wanna ask whether u prefer sleep on d pro...,ENGLISH,negative
1,Tue Apr 09 12:59:52 +0000 2019,1115600213484265477,"{'id': 1065994908148760578, 'id_str': '1065994...",hey unifi can you help me,ENGLISH,positive
2,Tue Apr 09 11:59:00 +0000 2019,1115584897567973382,"{'id': 175719741, 'id_str': '175719741', 'name...",Check out my Speedtest results 323 5 Mbps down...,ENGLISH,negative
3,Tue Apr 09 11:53:27 +0000 2019,1115583501628108800,"{'id': 94323843, 'id_str': '94323843', 'name':...",Join our postpaid plan OR refer 5 frens,ENGLISH,positive
4,Tue Apr 09 11:53:27 +0000 2019,1115583499300245504,"{'id': 94323843, 'id_str': '94323843', 'name':...",khabarbaik ED SHEERAN tickets for you YES you ...,ENGLISH,positive
5,Tue Apr 09 11:49:20 +0000 2019,1115582464322297857,"{'id': 94323843, 'id_str': '94323843', 'name':...",khabarbaik They are ready to win the RM10 000 ...,ENGLISH,positive
6,Tue Apr 09 09:34:03 +0000 2019,1115548417806102529,"{'id': 339368391, 'id_str': '339368391', 'name...",stupid unifi always down please don t be afrai...,ENGLISH,negative
7,Tue Apr 09 09:10:09 +0000 2019,1115542405065764864,"{'id': 44583755, 'id_str': '44583755', 'name':...",My wish is to earn just enough to pay for my c...,ENGLISH,negative
8,Tue Apr 09 06:16:28 +0000 2019,1115498696991334400,"{'id': 96706317, 'id_str': '96706317', 'name':...",The sendu laif of streamyx user Whenever it s ...,ENGLISH,positive
9,Tue Apr 09 05:35:51 +0000 2019,1115488475481018368,"{'id': 265909611, 'id_str': '265909611', 'name...",Malaysia Singapore agree to find amicable solu...,ENGLISH,positive
10,Tue Apr 09 05:19:05 +0000 2019,1115484254249472000,"{'id': 337579340, 'id_str': '337579340', 'name...",Hi Can you please DM us your unifi mobile numb...,ENGLISH,positive
11,Tue Apr 09 03:32:11 +0000 2019,1115457353271234561,"{'id': 851350431255089153, 'id_str': '85135043...",1 photo s added to TM UNIFI,ENGLISH,positive
12,Tue Apr 09 03:32:10 +0000 2019,1115457349378957312,"{'id': 128605205, 'id_str': '128605205', 'name...",hello I am using Unifi Mobile and I have 3 oth...,ENGLISH,positive
13,Tue Apr 09 02:45:01 +0000 2019,1115445481067491328,"{'id': 47891023, 'id_str': '47891023', 'name':...",Apa khabar geng khabarbaik x Kita jumpa 20th a...,ENGLISH,positive
14,Tue Apr 09 02:12:39 +0000 2019,1115437338400784385,"{'id': 265909611, 'id_str': '265909611', 'name...",Singapore PM Lee Hsien Loong arrives at Perdan...,ENGLISH,positive
15,Tue Apr 09 01:20:38 +0000 2019,1115424244089872385,"{'id': 1075380334026317825, 'id_str': '1075380...",Here s something to chew on how is coping with...,ENGLISH,positive
16,Tue Apr 09 00:06:03 +0000 2019,1115405474961088512,"{'id': 14522296, 'id_str': '14522296', 'name':...",Me too I m supposed to get contacted by a unif...,ENGLISH,positive
17,Mon Apr 08 18:33:47 +0000 2019,1115321858570768384,"{'id': 779790630, 'id_str': '779790630', 'name...",ootd sinaranrohani Produced by mediajakim Airi...,ENGLISH,positive
18,Mon Apr 08 17:03:50 +0000 2019,1115299223237345280,"{'id': 916413056359337984, 'id_str': '91641305...",petition for unifi to stop being a fucking pai...,ENGLISH,negative
19,Mon Apr 08 16:59:46 +0000 2019,1115298199680339968,"{'id': 1075380334026317825, 'id_str': '1075380...",Did you know that for the same price charges u...,ENGLISH,negative
20,Mon Apr 08 16:49:19 +0000 2019,1115295570992611334,"{'id': 1075380334026317825, 'id_str': '1075380...",MCMC Dear YB MCMC how is it possible that cont...,ENGLISH,negative
21,Mon Apr 08 16:12:11 +0000 2019,1115286223201886208,"{'id': 206544800, 'id_str': '206544800', 'name...",Korang yg duk tweet maki unifi pastu tag gobin...,ENGLISH,negative
22,Mon Apr 08 15:57:32 +0000 2019,1115282535976656897,"{'id': 2489141528, 'id_str': '2489141528', 'na...",Anyone using unifi Am I currently the only one...,ENGLISH,positive
23,Mon Apr 08 15:45:04 +0000 2019,1115279401086672896,"{'id': 618287329, 'id_str': '618287329', 'name...",Dear Unifi your connection in BANDAR BUKIT PUC...,ENGLISH,negative
24,Mon Apr 08 14:34:53 +0000 2019,1115261736485974016,"{'id': 154059253, 'id_str': '154059253', 'name...",Ade je Bill postpaid unifi astro pun ade,ENGLISH,positive
25,Mon Apr 08 14:11:57 +0000 2019,1115255965991837696,"{'id': 337579340, 'id_str': '337579340', 'name...",Hi You may contact our hotline at 100 press 1 ...,ENGLISH,positive
26,Mon Apr 08 13:25:29 +0000 2019,1115244270925959175,"{'id': 94323843, 'id_str': '94323843', 'name':...",khabarbaik FREE ENTRY Yes you ve heard it righ...,ENGLISH,positive
27,Mon Apr 08 10:04:38 +0000 2019,1115193726882594816,"{'id': 94323843, 'id_str': '94323843', 'name':...",Last call Last call Our RM10 Lazada voucher pr...,ENGLISH,positive
28,Mon Apr 08 09:28:52 +0000 2019,1115184724614438912,"{'id': 94323843, 'id_str': '94323843', 'name':...",Ed Sheeran KL concert onz this Saturday khabar...,ENGLISH,positive
29,Mon Apr 08 09:24:57 +0000 2019,1115183740240658432,"{'id': 28755176, 'id_str': '28755176', 'name':...",Started using since Friday afternoon and I can...,ENGLISH,positive
...,...,...,...,...,...,...
683,Wed Apr 03 20:28:52 +0000 2019,1113538882493067264,"{'id': 624832638, 'id_str': '624832638', 'name...",perkara celaka ni selalu jadi gak dekat abang hm,MALAY,negative
684,Wed Apr 03 19:59:59 +0000 2019,1113531611017043969,"{'id': 1281628166, 'id_str': '1281628166', 'na...",RT Parma ParmigianoReggiano lt TODAY Prato Sie...,OTHER,positive
685,Wed Apr 03 17:03:30 +0000 2019,1113487197653467136,"{'id': 880617376198180867, 'id_str': '88061737...",Hello ada masalah Twitch dan Reddit tidak dapa...,OTHER,negative
686,Wed Apr 03 14:33:29 +0000 2019,1113449445713043456,"{'id': 3158296116, 'id_str': '3158296116', 'na...",kenapa unifi rumah saya down dari semalam,MALAY,negative
687,Wed Apr 03 14:02:40 +0000 2019,1113441691032117248,"{'id': 92978319, 'id_str': '92978319', 'name':...",rumah down seminggu Line celcom plak mcm kat sini,OTHER,positive
688,Wed Apr 03 11:31:38 +0000 2019,1113403683272683521,"{'id': 522086622, 'id_str': '522086622', 'name...",Rasa mcm nak subscribe pulak lepas ni kalau da...,OTHER,negative
689,Wed Apr 03 00:59:24 +0000 2019,1113244575148257280,"{'id': 636059786, 'id_str': '636059786', 'name...",Parma ParmigianoReggiano lt TODAY Prato Siena ...,OTHER,positive
690,Tue Apr 02 14:01:33 +0000 2019,1113079021825224705,"{'id': 3096173568, 'id_str': '3096173568', 'na...",ni ibarat arnab laju dan gah di billboard bila...,OTHER,negative
691,Tue Apr 02 12:11:59 +0000 2019,1113051450681122817,"{'id': 2604916981, 'id_str': '2604916981', 'na...",dah berkali kali call dari hari jumaat suruh t...,OTHER,positive
692,Tue Apr 02 09:20:51 +0000 2019,1113008382900727808,"{'id': 1016221001095364608, 'id_str': '1016221...",Nak 2 sim,MALAY,positive
693,Tue Apr 02 09:19:49 +0000 2019,1113008120144379904,"{'id': 1016221001095364608, 'id_str': '1016221...",Harap2 boleh bagi 2 number untuk satu id lepas...,OTHER,negative
694,Tue Apr 02 08:05:41 +0000 2019,1112989463808892940,"{'id': 4746738620, 'id_str': '4746738620', 'na...",MCMC Agak2 kalau unifi call kita jawab mcm tu,OTHER,positive
695,Tue Apr 02 07:30:49 +0000 2019,1112980691090735104,"{'id': 625178744, 'id_str': '625178744', 'name...",Mcm skrg Tp klo kta lmbat byr seminit time tu ...,OTHER,positive
696,Tue Apr 02 00:40:54 +0000 2019,1112877530770419712,"{'id': 448024459, 'id_str': '448024459', 'name...",boleh dah kot tutup company line macam sampah,OTHER,negative
697,Mon Apr 01 18:05:23 +0000 2019,1112777998581682176,"{'id': 1050120038, 'id_str': '1050120038', 'na...",Berapa kali nak kena on off data lah hawau bet...,OTHER,negative
698,Mon Apr 01 16:34:58 +0000 2019,1112755244226641923,"{'id': 98810627, 'id_str': '98810627', 'name':...",Mentua ak smpai tukar wifi rmh p maxis Hancur ...,OTHER,negative
699,Mon Apr 01 16:10:56 +0000 2019,1112749194802941953,"{'id': 1088092555160346625, 'id_str': '1088092...",bawa bersabar mungkin unifi nak rest,MALAY,positive
700,Mon Apr 01 13:20:52 +0000 2019,1112706394040393728,"{'id': 2938354458, 'id_str': '2938354458', 'na...",Sumpah hang babi tgh semangat nak naik rank la...,MALAY,positive
701,Mon Apr 01 12:25:38 +0000 2019,1112692495819771904,"{'id': 719333388, 'id_str': '719333388', 'name...",jangan alamak sangat line kat rumah bila nak okay,MALAY,negative
702,Mon Apr 01 06:14:51 +0000 2019,1112599184018804736,"{'id': 1050055123, 'id_str': '1050055123', 'na...",kenapa yg line ade takde ni,OTHER,negative
703,Mon Apr 01 05:17:06 +0000 2019,1112584651321729024,"{'id': 4421961614, 'id_str': '4421961614', 'na...",Kenapa berkurang GB nya,INDONESIA,negative
704,Mon Apr 01 04:41:12 +0000 2019,1112575618455990279,"{'id': 416128537, 'id_str': '416128537', 'name...",Gigih jugak buat thread ni punya la bosan deka...,OTHER,negative
705,Mon Apr 01 04:40:33 +0000 2019,1112575454483865601,"{'id': 416128537, 'id_str': '416128537', 'name...",Tapi satu je coverage dia bila keluar kolumpo ...,MALAY,negative
706,Mon Apr 01 04:39:05 +0000 2019,1112575084957327360,"{'id': 416128537, 'id_str': '416128537', 'name...",Konklusinya bagi aku punya plan ni dah cukup l...,OTHER,positive
707,Sun Mar 31 20:50:05 +0000 2019,1112457055682641922,"{'id': 73847521, 'id_str': '73847521', 'name':...",RT Vihre kampus t ht imen Uusinta tietoa Euroo...,OTHER,positive
708,Sun Mar 31 15:08:44 +0000 2019,1112371153685766151,"{'id': 364774662, 'id_str': '364774662', 'name...",terima kasih menggagalkan permainan malam ni,INDONESIA,positive
709,Sun Mar 31 14:48:58 +0000 2019,1112366177253101569,"{'id': 207414733, 'id_str': '207414733', 'name...",memang akan bermasalah sampai tahun 2020 ke,MALAY,positive
710,Sun Mar 31 10:26:28 +0000 2019,1112300117111922688,"{'id': 1048440369413668864, 'id_str': '1048440...",nan,MALAY,positive
711,Sun Mar 31 08:14:15 +0000 2019,1112266844830752768,"{'id': 439947180, 'id_str': '439947180', 'name...",Zaff cuba bayar guna jompay,MALAY,positive
712,Sun Mar 31 05:58:55 +0000 2019,1112232789468950528,"{'id': 860842340071518208, 'id_str': '86084234...",line mcm apa tah walapun 4G Myampah aku,OTHER,positive